*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #2CB3F3;
    font-style: 'Roboto', sans-serif;
}

.title{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    font-size: 26px;
    height: 40vw;
}
#cabeca{
    position: absolute;
    left: 350px;
    top: 200px;
    height: 450px;
    width: 600px;
    background-color: white;
    border-radius: 100px 100px 0px 0px;}

#rosto{
    position: absolute;
    border-radius: 50%;
    background-color: #FFE1C9;
    top: 250px;
    left: 400px;
    width: 500px;
    height: 370px;
}

#olho-esquerdo{
    position: absolute;
    left: 530px;
    top: 320px;
    border-radius: 50%;
    width: 40.1px;
    height: 40.1px;
    background-color: black;
}

#olho-direito{
    position: absolute;
    left: 730px;
    top: 320px;
    border-radius: 50%;
    width: 40.1px;
    height: 40.1px;
    background-color: black;
}

.login{
    display: flex;
    flex-direction: column;
    width: 170px;
    position: relative;
    top: -60px;
    left: 510px;
}

input{
    width: 280px;
    height: 50px;
    padding-left: 10px;
    background-color: white;
}

button{
    position: absolute;
    left: 46%;
    top: 110%;
    width: 150px;
    height: 50px;
    background-color: #55A603;
    padding: 10px;
    box-shadow: 0px 2px black;
    border-radius: 6px;
}

button p{
    font-weight: 40px;
    color: white;
    font-size: 30px;
    background-color: #55A603;
    
}